{{#each this}}
<li>
    <a href='{{url}}' target='_blank'>
        <article>
            <img src='{{urlToImage}}' alt='' width='480' />
            <h2>{{title}}</h2>
            <p>{{author}}</p>
            <p>{{description}}</p>
        </article>
    </a>
</li>
{{/each}}